/* classe */
.hover-effect img {
  transform: scale(1.1);
  transition: transform 0.4s ease;
}

.hover-effect:hover img {
  transform: scale(1); 
}

.hover-effect::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.4s ease;
  z-index: 1000;
}

.hover-effect:hover::before {
  opacity: 0; 
}


        .divimagem2 {
          height: 300px; 
          width: 100%;
          overflow: hidden; 
        }

        .divimagem2 img {
          width: 100%; 
          height: 100%;
          object-fit: cover;
          object-position: center; 
        }